/* projects section  */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 3rem;
  max-width: 100%;
}
.project-tile-img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.footer {
  padding: 4rem 7rem;
  text-align: center;
}

.is-center {
  text-align: center;
}
.title {
  font-size: 3rem;
  margin: 0;
}
.subtitle {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
